@import "variable";
@import "./reset";
@import "./mixins";
@import "./functions";
 
header{

 .btn-header{
  position: absolute;
  top: -40px;
  right: 0; }

}
div.img-primary{
   background-image: url(../assets/images/coffe.jpg);
   background-position: center; 
   background-repeat: no-repeat; 
   background-size: cover;
   padding: 10px;
    width: 100%;
    height: 70vh;
}
@for $i from 6 to 10 {
  .my-#{$i}{
    margin-bottom: $i * 1em;
    margin-top: $i * 1em; 
  }
}
.chose-us{
  &-primary{
    background-color: $primary-color;
    min-height: 100vh;
    &-text{
     
         margin: 7em 14em;
     
     
     

    }
   
  }
   position: relative;
}
.chose-us{
 
    &-portion-div{
       background-color: $second-primary-color;
       position: absolute;
       top: 8em;
      }
      .chose-us-portion-div{
        position: absolute;
        top:15em;
      }
   
  }


  
