*{
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    width: 960px;
}
header{
    background-color:  rgb(0, 225, 255);
   text-align: center; 
   height: 40px;
    color: white;
    padding-top: 10px;
}
main{
    background-color: rgb(199, 31, 81);
    height: 500px;
    text-align: center;
    color: white;  
     padding-top: 20px;
    width: 50%;
    float: left;
 
}
aside{
    background-color:rgb(221, 185, 64);
    height: 250px;
    padding-top: 20px;
    color: white;
    text-align: center;
     float: right; 
     width: 50%;
}
nav{
    background-color: rgb(48, 184, 48);
    height:  250px;
    padding-top: 20px; 
     color: white;
    text-align: center;
    float: right;
    width: 50%;
}
footer{
    background-color: rgb(163, 88, 138);
    text-align: center;
    color: white;
    padding-top: 20px;
    height: 100px;
    float: left;
    width: 100%;
}
